@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playwrite+DE+LA:wght@100..400&display=swap');

@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
  --font-fira-code: 'Fira Code', monospace;
  --font-playwrite: 'Playwrite DE LA', sans-serif;
  
  --color-charcoalBlue: #14171b;
  --color-coalBlue: #21252b;
  --color-silverGray: #a1a2a7;
  --color-whiteOff: #cecece;
  --color-lightSeaGreen: #5ce1e6;
  --color-aquaCyan: #20b2aa;
  --color-vibrantOrange: #ffa500;

  --breakpoint-xs: 320px;
  --breakpoint-smx: 440px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
	--font-fira-code: 'Fira Code', monospace;
};

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #14171b;
    --foreground: #ffffff;
		--font-fira-code: 'Fira Code', monospace;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code);
}

code, pre {
  font-family: var(--font-fira-code);
}
